
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&family=Roboto:wght@100;400;700&display=swap');


:root {
  --bg-grad-90deg: linear-gradient(90deg, #111, #444, #111);
  --bg-grad-90deg-inv: linear-gradient(90deg, #555, #111, #555);
  --orange: #ff6600;
  --blue: #6699FF;
}




body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}

.fab {
  color: #ccc;
  font-size: 2rem;
  margin-left: 15px;
  color: green;
  padding: 10px;
  transition: all .3s ease-in-out;
}
.fab:hover {
  color: #0f0;
}
.container-fluid {
  /* border: 1px solid red; */
}

.block-1 {
  /* border: 1px solid red; */
  
}

.header {
  background: var(--bg-grad-90deg);
}

.logo-header {
  margin-top: 30px;
  width: 343px;
  transition: all .6s ease-out;
}

.logo-header:hover{
  opacity: .7;
}

/* .active {
  color: #ff6600 !important;
} */



.chat {
  height: 55px;
  background: var(--bg-grad-90deg-inv);
  color: antiquewhite;
}

.chat-row {
  height: 53px;
}

.col-3 {
  text-align: right;
}

.talk {
  color: var(--orange);
}

.fab-text {
  text-align: right;
}

/* Block 1 */

#project-1 {
  
}

.residencial-do-lago {
  font-size: 1.4rem;
  background: #0f0;
  padding: 5px 15px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;

}

.house-1 {
  min-width: 335px;
}

@media (max-width: 1200px){
  .h3-modern-house {
    margin-top: 3rem;
  }
  .house-1 {
    min-width: 100%;
  }
}

@media (max-width: 576px){
  .logo-header{
    width: 60%;
  }
  .navbar-toggler {
    position: absolute;
    top: 35%;
    right: 5%;
  }
  .talk, .talk-1 {
    font-size: 80%;
  }
}