
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&family=Roboto:wght@100;400;700&display=swap');


body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}

.fab {
  color: #ccc;
  font-size: 2rem;
  margin-left: 15px;
  color: green;
  padding: 10px;
  transition: all .3s ease-in-out;
}
.fab:hover {
  color: #0f0;
}
.container-fluid {
  /* border: 1px solid red; */
}

.container {
  /* border: 1px solid red; */
}

.header {
  background: linear-gradient(90deg, #111, #444, #111);
}

.logo-header {
  margin-top: 30px;
  width: 343px;
  transition: all .6s ease-out;
}

.logo-header:hover{
  opacity: .7;
}
.btn {
  color:#6699FF;
}
.active {
  color: #ff6600 !important;
  
}

nav .btn {
  margin-left: 20px;
}

.chat {
  height: 55px;
  background: linear-gradient(90deg, #555, #111, #555);
  color: antiquewhite;
}

.chat-row {
  height: 53px;
}

.col-3 {
  text-align: right;
}

.talk {
  color: #ff6600;
}
.fab-text {
  text-align: right;
}

@media (max-width: 500px){
  .logo-header{
    width: 60%;
  }
  .navbar-toggler {
    position: fixed;
    top: 20%;
    right: 5%;
    
  }
}