 <!-- Header -->
 <header class="container-fluid header pb-5">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container header-div">
      <a href="#" class="navbar-brand"><img class="img-fluid logo-header pb-1" src="/res/site/img/Logo.svg" alt="Logo Hebert"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse align-self-end" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="#home" class="nav-link active menu-link">HOME</a>
          </li>
          <li class="nav-item">
            <a href="#projetos" class="nav-link menu-link">PROJETOS</a>
          </li>
          <li class="nav-item">
            <a href="#quemsomos" class="nav-link menu-link">QUEM SOMOS</a>
          </li>
          <li class="nav-item">
            <a href="#contato" class="nav-link menu-link">CONTATO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container-fluid chat">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="talk-1 text-sm-left">Casas prontas para morar</div>
      <div class="d-flex align-items-center">
        <div class="talk text-sm-left">
          Fale conosco
        </div>
        <div class="whatsapp-ico">
          <a href="https://wa.me/5519999854246" target="blank">
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- body -->
<!-- Section 1 -->
<section class="my-5">
  <div class="container text-secondary my-5">
    
    <div class="row align-items-center row-cols-md-1">
      <div class="col-lg-12 col-xl-8 mb-5 ">
        <img id="project-1" class="img-fluid d-block rounded" src="/res/site/img/project-1.jpg" alt="Projeto Residencial do Lago">
      </div>
      <div class="col-lg-12 col-xl-4">
        <h3 class="text-center">Casas Prontas para Morar</h3>
        <p class="text-left">
            Seguindo as tendências atuais, construímos casas modernas e aconchegantes, utilizando materiais de excelente qualidade.
            Ao adquirir um imóvel ainda em fase de construção, você pode escolher o acabamento de sua preferência, tudo feito para melhor atendê-lo.
        </p>
        <p class="text-left">
            Agende uma visita em uma de nossas obras.
        </p>
        <p class="lead text-center slogan text-light">PARA QUEM FAZ QUESTÃO DE MORAR BEM!</p>
      </div>
    </div>
  </div>
</section>

<!-- Section 2 -->
<section class="my-5">
  <div class="container text-secondary my-5">
    <div
      class="row align-items-center">

      <!-- col 1 -->
      <div
        class="col-xl-8 col-lg-12">
        <!-- row to nest -->
        <div
          class="row row-md-col-1 align-items-center">

          <!-- image´s col -->
          <div class="col-md-6">
            <img class="house-1 img-fluid rounded" src="/res/site/img/house-1.jpg" alt="">
          </div>

          <!-- text col -->
          <div class="col-md-6  my-5">
            <div class="grid">
              <div class="g-col">
                <h3 class="text-center mb-4">
                  Casas Modernas de Alto Padrão
                </h3>
              </div>
              <div class="g-col my-4">
                <p class="text-left">
                    Casas com três quartos, closet na suíte principal, sala de estar ampla e arejada, cozinha gourmet, despensa, escritório, garagem para dois carros, área de serviço, depósito, piscina, jardim, sistema de aquecimento solar e energia solar fotovoltaica.<br>
                    Projetos com uma, duas ou três suítes.

                </p>

                <p class="text-left">
                  Ao adquirir um imóvel ainda em fase de construção, você pode escolher o acabamento de sua preferência, tudo feito para melhor atendê-lo.

                </p>

                <p class="text-left">
                  Agende uma visita em uma de nossas obras.
                </p>
              </div>
              <div class="g-col align-self-end slogan">
                <p class="text-center text-uppercase font-weight-bold text-light">
                  Conforto e segurança para sua família!
                </p>
              </div>
            </div>
            <!--End of column  -->
          </div>

        </div>


        <!-- col 1 closing -->
      </div>

      <!-- Col 2 -->
      <div
        class="col-xl-4 col-lg-12 text-left">

        <!-- Wrapper -->
        <div
          class="row">
          <!-- project 1 -->
          <div class="col">
            <a href="#" class="link-secondary">
              <div id="project-link" class="row bg-light align-items-center my-3 rounded">
                <div class="col my-3">
                  <img class="thumb img-fluid rounded" src="/res/site/img/thumb-1.jpg" alt="Thumb-1">
                </div>
                <div class="col">
                  <h5 class="text-center">Projeto 1</h5>
                  <p class="text-left">Em breve maiores detalhes.
                  </p>
                </div>
              </div>
            </a>
            <!-- end of project 1 -->

            <!-- project 2 -->
            <div class="col">
              <a href="#" class="link-secondary">
                <div id="project-link" class="row align-items-center my-3 rounded">
                  <div class="col my-3">
                    <img class="thumb img-fluid rounded" src="/res/site/img/thumb-2.jpg" alt="Thumb-1">
                  </div>
                  <div class="col">
                    <h5 class="text-center">Projeto 2</h5>
                    <p class="text-left">Em breve maiores detalhes.
                    </p>
                  </div>
                </div>
              </a>
              <!-- end of project 2 -->

              <!-- project 3 -->
              <div class="col">
                <a href="#" class="link-secondary">
                  <div id="project-link" class="row bg-light align-items-center my-3 rounded">
                    <div class="col my-3">
                      <img class="thumb img-fluid rounded" src="/res/site/img/thumb-1.jpg" alt="Thumb-1">
                    </div>
                    <div class="col">
                      <h5 class="text-center">Projeto 3</h5>
                      <p class="text-left">Em breve maiores detalhes.
                      </p>
                    </div>
                  </div>
                </a>
                <!-- end of project 3 -->
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of section 2 -->

<!-- Section 3 -->
<section class="mt-5 bg-dark">
  <div class="container bg-dark">

    <div class="row bg-dark align-items-center py-5">
      <div class="col-xl-6 col-md-12 py-2">
        <video autoplay muted controls width="100%" height="auto">
          <source src="/res/site/vid/promo-1.mp4" type="video/mp4">
        </video>
      </div>

      <div class="col-xl-6 col-md-12 mt-5">
        <h3 class="text-light text-center mb-3">Casas Modernas de Alto Padrão</h3>
        <p class="text-white-50 text-center">
          Seguindo as tendências atuais, construímos casas modernas e aconchegantes, utilizando materiais de excelente qualidade.</p>
        <p class="text-white-50 text-center text-uppercase">
          A sua casa nova em Pirassununga, você encontra aqui!
        </p>


      </div>

    </div>
  </div>
</section>